@import '../../styles/abstract/mixins';
@import '../../styles/abstract/variables';

.container {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	border-bottom: $app-border-primary-opacity;
	position: fixed;
	width: 100%;
	z-index: 2;
}

.listWrapper {}

.list {
	display: flex;
}

.listItem {
	margin-right: 20px;
}